
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forest Fire detection</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
    <body>
        <div id="form-div">
             <form id="form1"  action="http://localhost:5000/photo" method="post", enctype="multipart/form-data">
            <input type="file" name="photo"/>
            <br>
            <input type="submit" value="判断">
            </form>
        </div>
        <div id="prediction">

        </div>
    </body>
</html>